apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello
  namespace: apps
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hello
  template:
    metadata:
      labels:
        app: hello
    spec:
      containers:
        - name: hello
          image: {{IMAGE}}
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: {{CONTAINER_PORT}}
          
